body{
    max-width: 500px;
    margin: auto;
}
h1{
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
h3{
    margin: auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.Game-Board{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


.fadeOut{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}