*{
    text-align: flex;
}
body{
    max-width: 400px;
    margin: auto;
}
header{
    margin: auto;
}

h1{
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
h3{
    margin: auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.Game-Board{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600; 
}
#word{
    text-align: center;
    font-size: 30px;
}
ul > button{
    border: 4px solid;
    background-color: #86626e;
    color: whitesmoke;
    padding: 10px; 
    font-size: 15px;
}
p{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 17px;
}

.fadeOut{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600; 
} 
#footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #5C5D8D;
    color: whitesmoke;
    border: 4px solid;
    padding: 20px;
}
